<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SchulteGrid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A14004D51E88E5A600B97F1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A14004EE1E88E5A700B97F1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A14004F91E88E5A700B97F1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
